<header>
<h1>Books</h1>
</header>

<main>
  
  <div class= "title">
    <p>Title</p>
  </div>
  
  <div class= "body">
    <p>Body</p>
  </div>
  
</main>


<% @books.each do |book| %>



<div class= "content">
  
  <div class="content_title">
    <th>
    <%= book.title %>
    </th>
  </div>
    
   <div class="content_body">
    <th>
    <%= book.body %>
    </th>
   </div>
   
   
   <div class= "show">
     <%= link_to 'Show', book_path(book.id) %>
   </div>
   
   <div class= "edit">
     <%= link_to 'Edit', edit_book_path(book.id) %>
   </div>
   
   <div class= "destroy">
     <%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure ?" %>
   </div>
       
</div>
 
<% end %>

<h1>New book</h1>

<%= form_with model:@book, url:'/books', method: :post do |f| %>

<h4>title</h4>
<%= f.text_field:title %>

<h4>body</h4>
<%= f.text_area:body %>

<%= f.submit 'Create Book' %>

<% end %>